<!-- Componente Registro sin validaciones y no reactive, ventana modal en inicios de preubas para validaciones posteriores, sin form-->
<div class="container" >
    <div class="card text-center">
      <div class="card-header">
        <b>REGISTRO</b>
      </div>
      <div class="card-body d-grid gap-2 p-4" >

      
       
            <label style="float: left;"> Email: </label>
            <input class="form-control m-2 " type="email" placeholder="Ingresa email" [(ngModel)]="usuario.email">
            
        
            
            <label style="float: left;"> Password: </label>
            <input  class="form-control m-2" type="password" placeholder="Ingresa password" [(ngModel)]="usuario.password" >

           
          <!-- Button trigger modal -->

                <button  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Registrarse
                </button>

                     <!--Modal-->

                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content" style="align-items: center;" >
                            <div class="modal-header">
                              <h5 class="modal-title"  id="exampleModalLabel">Aviso de Registro en AppFirebasePrueba</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Se habilitará su registro como usuario de appLoginFirebase, puede abandonar cerrar la ventana y salir. Si el registro se efectúa sin problemas,
                              será redireccionado al dashboard de esta App. 
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="registrar()">Registrarse</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  

              <!--       
              <button class="btn  btn-primary" (click)="registrar()">Registrarse</button>  
              --> 
               
            
    
        
      
        <label>¿Ya tienes cuenta? <a routerLink="/login">Ingresar</a></label>
      
      </div>
  
    </div>
  
  </div> 
