<div class="container" >
    <div class="card text-center">
      <div class="card-header">
        <b>LOGIN </b>
      </div>
      <div class="card-body d-grid gap-2 p-4" >
       
        <label style="float: left;"> Email: </label>
        <input class="form-control m-2 " type="email" placeholder="Ingresa email" [(ngModel)]="usuario.email">
       
        <label style="float: left;"> Password: </label>
        <input  class="form-control m-2" type="password" placeholder="Ingresa password" [(ngModel)]="usuario.password">
     
      
        
        <button class="btn  btn-primary   " (click)="ingresar()">Ingresar</button> 
  
        <button class="btn  btn-danger  " (click)="ingresarconGoogle()">Ingresar con Google</button>
       
       
        <label>Aun no estas registrado? <a routerLink="/registro_react">Registrarse</a></label>
  
       <!--<button class= "btn btn-info" (click)="obtenerUsuarioLogged()"  >Usuario Logueado</button> --> 
      
      </div>
     
  
    </div>
  
  </div> 
