<div class="container" >
    <div class="card text-center">
      <div class="card-header">
        <b>LOGIN REACT</b>
      </div>
      <form [formGroup]="form" novalidate (ngSubmit)="entrarlogin($event)" >
       
            <span>
              Email: <br/>
              <input type="email" formControlName="email">

              <div *ngIf="txtEmail.errors && txtEmail.touched">
                  <span class="msgError_req"  *ngIf="txtEmail.hasError('required')">                                                                 
                      Email es un campo requerido
                  </span>
                  <span class="msgError_req"  *ngIf="txtEmail.hasError('email')">                                                                 
                      No es un email válido
                  </span>
              </div>
            </span><br/>


       
            <span>
                Password: <br/>
                <input type="password" formControlName="password">

                <div *ngIf="txtPassword.errors && txtPassword.touched">
                    <span class="msgError_req"  *ngIf="txtPassword.hasError('required')">                                                                 
                        Password es requerido
                    </span>

                    <span class="msgError_req"  *ngIf="txtPassword.hasError('minlength')">
                        Password debe tener Mínimo 6 caracteres.
                    </span>

                    <span class="msgError_req"  *ngIf="txtPassword.hasError('maxlength')">
                        Password debe tener Máximo  8 caracteres.
                    </span>
                </div>
            </span>
            <br/>
            <!-- Button trigger modal -->
           
        <button  type="button" style="margin-top: 8px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="blanquearMsgError()">
          Verificar
        </button> 
        <br/> 

             <!--Modal-->

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content" style="align-items: center;" >
                    <div class="modal-header">
                      <h5 class="modal-title"  id="exampleModalLabel">Aviso de Registro en AppFirebasePrueba</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                  <!--  Modal ajustado con span en modo ngIf para validar en cuerpo modal-->
                    <div class="modal-body">
                      Petición de login como usuario de appLoginFirebase, con el email <span *ngIf="(form.value.email.length!=0); else elseIngreseEmail" class="msgError_email" > {{form.value.email}}</span>, puede abandonar y cerrar la ventana. Si el login se efectúa sin problemas,
                      será redireccionado al dashboard de esta App. 

                      <ng-template #elseIngreseEmail>

                          <span class="msgError_email">Ingrese un email válido y registrado en la app para el logueo</span>

                      </ng-template>
      
                    </div>


                    <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> 
                    <!--  button de activacion de validacion de autorizacion de acceso   -->
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Ingresar</button>
                        <br/>
                            
                    </div>
                  </div>
                </div>
              </div>

              <!-- Final de  Ventana Modal -->
       
          <!-- botones de accion -->
  
        <button style="margin-top: 8px;" class="btn  btn-danger  " (click)="ingresarconGoogle()">Ingresar con Google</button>
        <br/>
       
       
        <label style="margin-top: 8px;" >Aun no estas registrado? <a routerLink="/registro_react">Registrarse</a></label>
       
        <!--Mensaje de error de chequeo de validacion de autorización de acceso-->
      
        <div  *ngIf="[msgErrorForm != null && mostrar]" >

            <span class="msgError_req">{{msgErrorForm}}</span> 

          </div> 
      
     </form>
     
  
    </div>
  
  </div> 
